@model LiBook.Models.Author

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Choose image file</label>
                <input type="file" name="file" class="form-control-file" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <textarea name="Biography" id="Biography" class="form-control" rows="9"></textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <input type="submit" value="Save" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-warning">Back to List</a>

        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
