@model LiBook.Models.AuthorViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: rgba(255, 255, 255, 0.7); padding: 2em;" class="card">
    <h2>@Model.FirstName @Model.LastName</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="~/pics/Authors/@Model.ImagePath" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Biography)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Biography)
                </dd>
                <dd>
                    @await Component.InvokeAsync("AuthorDetailsManagement", new { model = Model})
                </dd>
            </dl>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery/dist/jquery.backstretch.js"></script>
<script type="text/javascript" src="/js/bg.js"></script>
<script type="text/javascript">
    bg("/pics/Authors/@Model.ImagePath");
</script>