@model LiBook.Models.AuthorViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(model => model.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Current image</label>
                    <img src="/pics/Authors/@Model.ImagePath" class="img-thumbnail" />
                </div>
                <div class="col-md-6">
                    <label>Choose a file</label>
                    <div class="custom-file" id="customFile">
                        <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="fileHelp" onchange="readURL(this, 'selectedImg')">
                        <label class="custom-file-label" for="file">
                            Select image...
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Selected image</label>
                    <img src="/pics/Authors/default.png" class="img-thumbnail" id="selectedImg" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <textarea name="Biography" id="Biography" class="form-control" rows="9">@Model.Biography</textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
