@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://staticfilesbs.blob.core.windows.net/statics/books.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Books</h5>
                <p class="card-text text-justify">
                    Here you can find all books available in the BooksStore. You can search them and see their authors.
                </p>
                <a href="/books" class="btn btn-success">Books</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://staticfilesbs.blob.core.windows.net/statics/people.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Authors</h5>
                <p class="card-text text-justify">
                    Through here you can find all authors available in the BooksStore. Also you can see which books belong to specific author.
                </p>
                <a href="/authors" class="btn btn-primary">Authors</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://staticfilesbs.blob.core.windows.net/statics/money.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Likes</h5>
                <p class="card-text text-justify">
                    Wish list allows you to store books that you like.
                </p>
                <a href="/WishList" class="btn btn-warning">Wish list</a>
            </div>
        </div>
    </div>
</div>