@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://staticfilesbs.blob.core.windows.net/statics/books.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Books</h5>
                <p class="card-text text-justify">
                    Here you can manage all books available in the BookStore. You can create new books, edit and delete existing ones.
                    Also there is an opportunity to assign authors to books.
                </p>
                <a href="/books" class="btn btn-success">Books</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://staticfilesbs.blob.core.windows.net/statics/people.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Authors</h5>
                <p class="card-text text-justify">
                    Through here you can manage all authors available in the BookStore. You can create new authors, edit and delete existing ones.
                </p>
                <a href="/authors" class="btn btn-primary">Authors</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://staticfilesbs.blob.core.windows.net/statics/money.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Likes</h5>
                <p class="card-text text-justify">
                    Order managment is here. This allows you to manage user's orders: change status of orders, send emails to users and delete orders.
                </p>
                <a routerLink="orders" class="btn btn-warning">Wish list</a>
            </div>
        </div>
    </div>
</div>