@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<form class="login-form" method="post">
    <input type="text" placeholder="email" asp-for="Input.Email" />
    <input type="password" placeholder="password" asp-for="Input.Password" />
    <button id="signin-btn" type="submit">login</button>
    <p class="message text-danger">@ViewData["Error"]</p>
    <p class="message">Not registered? <a asp-page="./Register" id="signup-message">Create an account</a></p>
    <p class="message"><a asp-page="./ForgotPassword">Forgot password?</a></p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery/dist/jquery.backstretch.js"></script>
<script type="text/javascript" src="/js/auth_page.js"></script>
