@model LiBook.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="/pics/Books/@Model.ImagePath" class="img-fluid" />
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dd>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a> 
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </dd>
        </dl>
    </div>
</div>

