@model IEnumerable<LiBook.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Books</h2>
    </div>
    <div class="col-md-6 text-right">
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
</div>

<div class="row card-columns">
    @foreach (var book in Model)
    {
        <div class="col-md-3">
            <div class="card">
                @if (!string.IsNullOrEmpty(book.ImagePath))
                {
                    <img class="h-50 card-img-top" src="/pics/Books/@book.ImagePath" alt="Card image cap">
                }
                else
                {
                    <img class="h-50 card-img-top" src="/pics/Books/default.png" alt="Card image cap">
                }
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text text-justify">
                        @if (string.IsNullOrEmpty(book.Description))
                        {
                        <p>There is no description provided for this book.</p>
                    }
                    else if (book.Description.Length > 125)
                    {
                        @(book.Description.Substring(0, 125) + "...")
                    }

                    else
                    {
                        <p>
                            @book.Description
                        </p>
                    }
                        </p>
                        <a href="/books/details/@book.Id" class="btn btn-success">Open</a>
                        <a href="/books/edit/@book.Id" class="btn btn-info">Edit</a>
                        <a href="/books/delete/@book.Id" class="btn btn-danger">Remove</a>
                    </div>
                </div>
            </div>
        }
</div>