@{
    ViewData["Title"] = "Access denied";
}
<header class="row">
    <div class="col-md-3">
        <h2>@ViewData["Title"] :(</h2>
        <p >You do not have access to perform this action.</p>
    </div>
    <div class="col-md-9">
        <img src="/images/ops.png" class="img-fluid" />
    </div>
</header>
