@model LiBook.Models.Account.UserProfileViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit your profile</h2>
<hr/>
<br/>
<form asp-action="EditConfirmed" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(model => model.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </div>
    </div>
</form>