<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiBook</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<nav class="navbar bg-info sticky-top" style="font-size: 1.1em;">
    <div class="container">
        <div class="navbar-header">
            <a asp-action="Index" asp-controller="Home" class="nav-link text-light">LiBooks</a>
        </div>
        <div class="navbar">
            <ul class="nav justify-content-start">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item"><a asp-action="Index" id="menu_admin" asp-controller="Admin" class="nav-link text-light">Users</a></li>
                    <li class="nav-item"><a asp-action="Index" id="menu_genres" asp-controller="Genres" class="nav-link text-light">Genres</a></li>
                }
                <li class="nav-item"><a asp-action="Index" id="menu_books" asp-controller="Books" class="nav-link text-light">Books</a></li>
                <li class="nav-item"><a asp-action="Index" id="menu_authors" asp-controller="Authors" class="nav-link text-light">Authors</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>


<partial name="_CookieConsentPartial"/>

<div class="container body-content">
    <br/>
    @RenderBody()
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
