@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="LogOut" asp-controller="Auth" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav justify-content-start">
            <li class="nav-item">
                <a class="nav-link text-light" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="nav-link text-light bg-info border-0">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav justify-content-start">
        <li class="nav-item"><a asp-action="SignUp" asp-controller="Auth" class="nav-link text-light">Register</a></li>
        <li class="nav-item"><a asp-action="SignIn" asp-controller="Auth" class="nav-link text-light">Login</a></li>
    </ul>
}